<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Messages : View</title>
</head>
<body>
	<h1 layout:fragment="header">用户详情</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		<div class="table align-right">
			<a class="btn btn-default" th:href="@{/users}">返回用户列表</a>
		</div>
		<div class="row">
			<div class="list-group col-sm-6">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">用户ID</h4>
					<p class="list-group-item-text" th:text="${user.userId}"></p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">用户名</h4>
					<p class="list-group-item-text" th:text="${user.userName}"></p>
				</a>
			</div>
			<div class="list-group col-sm-6">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">登录名</h4>
					<p class="list-group-item-text" th:text="${user.loginName}"></p>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
