<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>维护系统</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/fonts/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/vendors/nprogress/nprogress.css}" />
	<link rel="stylesheet" th:href="@{/vendors/iCheck/skins/flat/green.css}" />
	<link rel="stylesheet" th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/custom.min.css}" />
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/application.js}"></script>
  </head>

  <body class="nav-md footer_fixed">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
				<a href="/" class="site_title"><i class="fa fa-paw"></i> 
					<span>维护系统</span>
				</a>
			</div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>欢迎</span>
                <h2>管理员</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<h3>菜单</h3>
					<ul class="nav side-menu">
						<li><a href="/"><i class="fa fa-home"></i>首页</a>
						</li>
						<li><a><i class="fa fa-home"></i>清单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/invts">清单查询</a></li>
								<li><a href="/invts/statistics">清单统计</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-home"></i>撤销单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/invtCancel">撤销单查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-edit"></i>入库明细单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/deliveries">入库明细单查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-edit"></i>光机指令管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/deliveries">光机指令查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-edit"></i>身份认证信息管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/persons">身份认证信息查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-desktop"></i>订单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/orders">订单查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-desktop"></i>运单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/logistics">运单查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-desktop"></i>支付单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/payments">支付单管理</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-desktop"></i>核放单管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/dists">核放单查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-desktop"></i>车辆管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/vehicles">车辆查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-table"></i>企业管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="#">企业查询</a></li>
							</ul>
						</li>
						<li><a><i class="fa fa-bar-chart-o"></i>用户管理<span class="fa fa-chevron-down"></span></a>
							<ul class="nav child_menu">
								<li><a href="/users">用户查询</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a href="javascript:logout();" data-toggle="tooltip" data-placement="top" title="退出">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/img.jpg" alt="">管理员
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;">个人信息</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>设置</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">帮助</a></li>
					<li><a href="javascript:logout();"><i class="fa fa-sign-out pull-right"></i>退出</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
			<div layout:fragment="header" class="page-title">页标题</div>
			<div class="clearfix"></div>
			<div layout:fragment="content" class="row">页内容</div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
	<form id="form_logout" th:action="@{/logout}" method="POST">
	</form>

	<script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/nprogress/nprogress.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom.min.js}"></script>
  </body>
</html>
