<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<title>Layout</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
		<link rel="stylesheet" th:href="@{/css/application.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/application.js}"></script>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">维护系统</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li id="invt_man" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									清单管理
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/invts">清单查询</a></li>
									<li><a href="/invts/statistics">清单统计</a></li>
								</ul>
							</li>
							<li id="delivery_man"><a href="/deliveries">入库明细单管理</a></li>
							<li id="order_man"><a href="#">订单管理</a></li>
							<li id="company_man"><a href="#">企业管理</a></li>
							<li id="user_man"><a href="/users">用户管理</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			<div style="padding-top: 60px;">
				<h1 layout:fragment="header">Layout</h1>
				<div layout:fragment="content">Fake content</div>
			</div>
			<script type="text/javascript">
				$(".modal").on("shown.bs.modal", function(e) {
					var self = $(this);
					var modalDialog = self.find(".modal-dialog");
					var m_top = ($(document).height() - modalDialog.height()) / 2;
					modalDialog.css("margin", m_top + " px auto");
				});
			</script>
		</div>
	</body>
</html>
